<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load humanize %}
    <title>Thanks</title>
    <style>
        .body {
            margin: 0;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            height: 100vh;
            background-color:white;
        }
        .thanks-message {
            font-size: 1.5em;
            font-weight: bold;
            color: #144123af;
        }
    </style>
</head>
<body>
    <div style="position: fixed; top: 10px; right: 20px; z-index: 1000;">
    <a href="{% url 'myapp:about' %}" style="margin-right: 20px; color: rgba(49, 48, 48, 0.7); font-weight: bold; text-decoration: none;">About</a>
    <a href="{% url 'myapp:machine_learning' %}" style="margin-right: 25px; color: rgba(49, 48, 48, 0.7); font-weight: bold; text-decoration: none;">Machine Learning</a>
    </div>

    <div class="thanks-message">
        <h2>Thanks for submitting!</h2>
        <p> Your Yearly Estimated Greenhouse Gas Emissions: {{total_emission | intcomma}} kg CO<sub>2</sub>-equivalent</p>
        <p> Your Predicted Cluster: {{user_cluster}} </p>
        <p> Cluster Heatmap: </p>
        <img src="{% static 'myapp/heatmap.png' %}" alt="Heatmap">
    </div>
</body>