<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
    <style>
        .body {
            margin: 0;
            font-family: 'lucida grande', Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            height: 100vh;
        }
        .thanks-message {
            font-size: 1.5em;
            font-weight: bold;
            color: #144123af;
        }
    </style>
</head>
<body>
    <div class="thanks-message">
        Thanks for submitting!
    </div>
</body>